<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body class="container">
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Song</th>
            <th>Genre</th>
        </tr>

        <th:block th:each="i: ${#numbers.sequence(0, 4)}">
            <tr>
                <td th:text="${artists.get(i).getArtistName()}"></td>
                <td th:text="${songList.get(i).getSongName()}"></td>
                <td th:text="${genreList.get(i).getGenreName()}"></td>
            </tr>
        </th:block>
    </table>
    <form action="#" th:action="@{/song/search}" th:object="${inputSearch}" method="post">
        <br class="mt-5">
        <label class="form-label" for="searchInputBox">Search for a song name:</label>
        <input class="form-control" type="text" id="searchInputBox" th:field="*{inputText}" placeholder="example: Restless and Wild" required>
        <input class="btn btn-primary" type="submit" value="Search now">
    </form>
</body>
</html>