<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body class="container">

    <h1 th:text="${'Search results for song: ' + songTableInfo.getSongName()}"></h1>
    <br class="mt-5">
    <th:block th:if="${songTableInfo.isSuccess()}">
        <table class="table">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
            <tr>
                <td th:text="${songTableInfo.getSongName()}"></td>
                <td th:text="${songTableInfo.getArtistName()}"></td>
                <td th:text="${songTableInfo.getAlbumName()}"></td>
                <td th:text="${songTableInfo.getGenreName()}"></td>
            </tr>
        </table>
    </th:block>
    <h2 th:if="${songTableInfo.isSuccess()} == false">This song doesn't exist in the database. Make sure you have typed the song name correctly. The song name is case-sensitive.</h2>

</body>
</html>